.inputbox {
  margin: 50px auto;
  width: 85%;
  padding: 8px 15px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap:10px; */
}
.inputbox > input {
  width: 950px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
}

.searchbtn1 {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  background: #920909;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 400;
  border: none;
}
.searchbtn2 {
  height: 40px;
  padding: 7px 20px;
  background: #920909;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 400;
  border: none;
}
#price {
  display: flex;
  gap: 10px;
}
#price input {
  width: 50px;
}
.gymDetails {
  display: flex;
  width: 100%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 5px;
  cursor: pointer;
}
.imgDiv {
  width: 40%;
  background-color: black;
}
.imgDiv img {
  height: 100%;
  width: 100% !important;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 3%,
    rgb(114, 86, 86) 40%
  );
  mask-image: linear-gradient(to, transparent 5%, 40%);
}
.gymDetails1 {
  width: 60%;
  height: 100%;
}
.gymName {
  width: 100%;
  height: 100px;
}
.buttonDiv {
  margin-top: 50px;
  display: flex;
  /* align-items: center; */
  /* margin: auto; */
  justify-content: flex-end;
  padding: 20px;
}
.buttonDiv button {
  background-color: rgb(146, 9, 9);
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
}
.reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resetbtn {
  visibility: hidden;
  width: 100px;
  height: 30px;
  background-color: rgb(146, 9, 9);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.resetbutton {
  display: block;
  width: 100px;
  height: 30px;
  background-color: rgb(146, 9, 9);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.gymBanner {
  width: 90%;
  height: auto;
  margin: auto;
}
.gymRating {
  margin-top: 50px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.ratingDiv {
  text-align: center;
  width: 200px;
  height: 100px;
  background-color: rgb(146, 9, 9);
  font-size: larger;
}
.gymRating svg {
  color: white;
}
.membership {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.membershipChil1 {
  width: 40%;
}
.gymTerm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px;

  gap: 10px;
}
.gymTerm div {
  text-align: center;

  background-color: #920909;
  border-radius: 5px;
}
.planDiv {
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  align-items: center;
  padding: 1%;
}

.plan {
  width: 90%;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 150px;
  margin: 20px 0;
  border: 3px solid white;
  border-radius: 10px;
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
}
.planhead {
  text-align: center;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
}
.planDiv button {
  width: 50px;
  height: 40px;
  background-color: transparent;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  font-weight: bold;
}
.locon {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.loaderDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}